.TextIntroduction{
    margin: 90px 0 0 0; 
}

.textIntroductionText{
    margin: 16px 0 0 0; 
}

/*   desktop style   */
@media screen and (min-width: 1440px){
    .TextIntroduction{
        margin: 0; 
        width: 525px; 
    }
    .textIntroductionText{
        margin: 10px 0 0 0; 
    }
}