.WarningIcon{
    height: 0; 
    width: 0;  
    position: absolute; 
    top: 32px;
    right: 16px; 
    background-image : url("../images/icon-error.svg"); 
}

/*   desktop style   */
@media screen and (min-width: 1440px){
    .WarningIcon{
        top: 36px; 
    }
}