.WarningIcon{
    height: 24px; 
    width: 24px;  
    position: absolute; 
    top: 32px;
    right: 16px; 
    background-image : url("../images/icon-error.svg"); 
}

/*   desktop style   */
@media screen and (min-width: 1440px){
    .WarningIcon{
        top: 50px; 
    }
}